.gallery {
    /* 创建多列布局 */
    column-count: 2;
    column-gap: 4px;
}

/* 当屏幕宽度小于700px时，只显示一列 */
@media (max-width: 960px) {
    .gallery {
        column-count: 1;
    }
}

.gallery img {
    /* 防止图片跨越多列 */
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 4px; /* 在图片之间添加一些间隔 */
    display: block; /* 防止图片下方有间隙 */
    break-inside: avoid; /* 防止图片被分割到不同的列 */
}